<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Jasmine Spec Runner</title>

  <script type="text/javascript">
    console.debug = function(o) {
      console.log(JSON.stringify(o));
    };
  </script>

  <link rel="shortcut icon" type="image/png" href="{{vendor}}/vendor/jasmine/jasmine_favicon.png">

  <link rel="stylesheet" type="text/css" href="{{vendor}}/vendor/jasmine/jasmine.css">
  <script type="text/javascript" src="{{vendor}}/vendor/jasmine/jasmine.js"></script>
  <script type="text/javascript" src="{{vendor}}/vendor/jasmine/console_reporter.js"></script>
  <script type="text/javascript" src="{{vendor}}/vendor/jasmine/jasmine-html.js"></script>

  <script type="text/javascript">
    (function() {
      var jasmineEnv = jasmine.getEnv();
      jasmineEnv.updateInterval = 1000;

      var consoleReporter = new jasmine.ConsoleReporter(function(x) { console.log(x) }, function(runner) { console.log("JASMINE: Failed (" + runner.results().failedCount + ")") }, true);

      jasmineEnv.addReporter(consoleReporter);

      var currentWindowOnload = window.onload;

      window.onload = function() {
        if (currentWindowOnload) {
          currentWindowOnload();
        }
        execJasmine();
      };

      function execJasmine() {
        jasmineEnv.execute();
      }

    })();
  </script>

  <script type="text/javascript">
    {{javascript}}
  </script>

</head>

<body>
</body>
</html>
